force-app/main/default/flows/Address_Change_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>ch_billingAddress</name>
        <choiceText>Billing Address</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ch_bothAddresses</name>
        <choiceText>Both Billing and Shipping</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ch_shippingAddress</name>
        <choiceText>Shipping Address</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Address_Decision</name>
        <label>Address Decision</label>
        <locationX>507</locationX>
        <locationY>193</locationY>
        <defaultConnector>
            <targetReference>Change_both_Billing_and_Shipping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Both</defaultConnectorLabel>
        <rules>
            <name>Billing_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ch_billingAddress</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Billing_Address</targetReference>
            </connector>
            <label>Billing Address</label>
        </rules>
        <rules>
            <name>Shipping_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ch_shippingAddress</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shipping_Address_Change</targetReference>
            </connector>
            <label>Shipping Address</label>
        </rules>
    </decisions>
    <description>Use this flow to quickly change an Account&apos;s billing or shipping address.  This will write to the MDM (Heroku) to provide account address history details using MuleSoft.  Then Salesforce Connect will display the account address changes back in Salesforce.</description>
    <formulas>
        <name>f_currentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Address Change Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Address Change Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_PD_Shipping</name>
        <label>Create PE - Shipping</label>
        <locationX>840</locationX>
        <locationY>665</locationY>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_ID__c</field>
            <value>
                <elementReference>v_idOther</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>v_accountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Change_Type__c</field>
            <value>
                <stringValue>Shipping Address Updated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>v_shippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>v_shippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_Code__c</field>
            <value>
                <elementReference>v_shippingPostCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>v_shippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>v_shippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Full_Name__c</field>
            <value>
                <elementReference>v_userFullName</elementReference>
            </value>
        </inputAssignments>
        <object>Address_Change__e</object>
    </recordCreates>
    <recordCreates>
        <name>Create_PE_Billing</name>
        <label>Create PE - Billing</label>
        <locationX>184</locationX>
        <locationY>667</locationY>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_ID__c</field>
            <value>
                <elementReference>v_idOther</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>v_accountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Change_Type__c</field>
            <value>
                <stringValue>Billing Address Updated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>v_billingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>v_billingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_Code__c</field>
            <value>
                <elementReference>v_billingPostCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>v_billingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>v_billingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Full_Name__c</field>
            <value>
                <elementReference>v_userFullName</elementReference>
            </value>
        </inputAssignments>
        <object>Address_Change__e</object>
    </recordCreates>
    <recordCreates>
        <name>Create_PE_Both</name>
        <label>Create PE - Both</label>
        <locationX>508</locationX>
        <locationY>673</locationY>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_ID__c</field>
            <value>
                <elementReference>v_idOther</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>v_accountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Change_Type__c</field>
            <value>
                <stringValue>Both Billing and Shipping Updated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>v_billingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>v_billingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_Code__c</field>
            <value>
                <elementReference>v_billingPostCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>v_billingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>v_billingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Full_Name__c</field>
            <value>
                <elementReference>v_userFullName</elementReference>
            </value>
        </inputAssignments>
        <object>Address_Change__e</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>604</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_recordID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>v_billingCity</assignToReference>
            <field>BillingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_billingCountry</assignToReference>
            <field>BillingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_billingPostCode</assignToReference>
            <field>BillingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_billingState</assignToReference>
            <field>BillingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_billingStreet</assignToReference>
            <field>BillingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_idOther</assignToReference>
            <field>ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_accountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_shippingCity</assignToReference>
            <field>ShippingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_shippingCountry</assignToReference>
            <field>ShippingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_shippingPostCode</assignToReference>
            <field>ShippingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_shippingState</assignToReference>
            <field>ShippingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_shippingStreet</assignToReference>
            <field>ShippingStreet</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>806</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Address_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_currentUser</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>v_userFullName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Auto update of the billing address</description>
        <name>Update_Billing_Address</name>
        <label>Update Billing Address</label>
        <locationX>184</locationX>
        <locationY>510</locationY>
        <connector>
            <targetReference>Create_PE_Billing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_recordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Billing_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Billing_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Billing_ZIP_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Billing_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Billing_Street</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Auto update to both the Billing Address and Shipping Address</description>
        <name>Update_Both_Addresses</name>
        <label>Update Both Addresses</label>
        <locationX>512</locationX>
        <locationY>531</locationY>
        <connector>
            <targetReference>Create_PE_Both</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_recordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Billing_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Billing_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Billing_ZIP_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Billing_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Billing_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>Shipping_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>Shipping_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>Shipping_ZIP_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>Shipping_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>Shipping_Street</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Auto update the shipping address</description>
        <name>Update_Shipping_Address</name>
        <label>Update Shipping Address</label>
        <locationX>840</locationX>
        <locationY>510</locationY>
        <connector>
            <targetReference>Create_PD_Shipping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_recordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>Shipping_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>Shipping_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>Shipping_ZIP_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>Shipping_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>Shipping_Street</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <description>Use this flow to quickly change an Account&apos;s billing or shipping address.  This will write to the MDM to provide account address history details.</description>
        <name>Address_Change</name>
        <label>Address Change</label>
        <locationX>190</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Verify_PIN_Code</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p&gt;Use this flow to quickly change an Account&apos;s billing or shipping address.&amp;nbsp;This will write to the MDM to provide account address history details.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Change_Billing_Address</name>
        <label>Change Billing Address</label>
        <locationX>184</locationX>
        <locationY>355</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Billing_Address</targetReference>
        </connector>
        <fields>
            <name>accountNameText</name>
            <fieldText>&lt;p&gt;The existing values are pre-populated below.  Please ask the customer to verify the address before making the necessary billing address updates.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;﻿Account Name&lt;/b&gt;: {!v_accountName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Billing_Street</name>
            <defaultValue>
                <stringValue>{!v_billingStreet}</stringValue>
            </defaultValue>
            <fieldText>Billing Street</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Billing_City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>v_billingCity</elementReference>
            </defaultValue>
            <fieldText>Billing City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Billing_State</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>v_billingState</elementReference>
            </defaultValue>
            <fieldText>Billing State or Province</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Billing_ZIP_Postal_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>v_billingPostCode</elementReference>
            </defaultValue>
            <fieldText>Billing ZIP/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Billing_Country</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>v_billingCountry</elementReference>
            </defaultValue>
            <fieldText>Billing Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Change both the billing and shipping address to the same values.</description>
        <name>Change_both_Billing_and_Shipping</name>
        <label>Change both Billing and Shipping</label>
        <locationX>514</locationX>
        <locationY>388</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Both_Addresses</targetReference>
        </connector>
        <fields>
            <name>ChangeBothBillingShipping</name>
            <fieldText>&lt;p&gt;Both the Billing Address and the Shipping Address will be changed to the values you specify below.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Account Name&lt;/b&gt;: {!v_accountName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Street</name>
            <fieldText>Street</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>StateorProvince</name>
            <dataType>String</dataType>
            <fieldText>State or Province</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ZIP_Postal_Code</name>
            <dataType>String</dataType>
            <fieldText>ZIP/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Country</name>
            <dataType>String</dataType>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Shipping_Address_Change</name>
        <label>Change Shipping Address</label>
        <locationX>840</locationX>
        <locationY>348</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Shipping_Address</targetReference>
        </connector>
        <fields>
            <name>ShippingAddressChangeText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The existing values are pre-populated below.  Please ask the customer to verify the address before making the necessary shipping address updates.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Account Name&lt;/b&gt;: {!v_accountName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Shipping_Street</name>
            <defaultValue>
                <stringValue>{!v_shippingStreet}</stringValue>
            </defaultValue>
            <fieldText>Shipping Street</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Shipping_City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>v_shippingCity</elementReference>
            </defaultValue>
            <fieldText>Shipping City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Shipping_State</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>v_shippingState</elementReference>
            </defaultValue>
            <fieldText>Shipping State or Province</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Shipping_ZIP_Postal_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>v_shippingPostCode</elementReference>
            </defaultValue>
            <fieldText>Shipping ZIP/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Shipping_Country</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>v_shippingCountry</elementReference>
            </defaultValue>
            <fieldText>Shipping Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You</label>
        <locationX>508</locationX>
        <locationY>849</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYouText</name>
            <fieldText>&lt;p&gt;Thank you.  The address change has been processed for {!v_accountName} in Salesforce. You can view all previous addresses on record in the Address Change History related list.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Verify_PIN_Code</name>
        <label>Verify PIN Code</label>
        <locationX>323</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Address</targetReference>
        </connector>
        <fields>
            <name>pinVerificationInstructions</name>
            <fieldText>&lt;p&gt;Before making an address change the customer must verify the account PIN code.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;PIN Code for {!v_accountName} is:&lt;/p&gt;&lt;p&gt;&lt;b&gt;3227&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Choose Billing, Shipping, or both.</description>
        <name>Which_Address</name>
        <label>Which Address</label>
        <locationX>461</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
        <fields>
            <name>Choose_an_address_to_update</name>
            <choiceReferences>ch_billingAddress</choiceReferences>
            <choiceReferences>ch_shippingAddress</choiceReferences>
            <choiceReferences>ch_bothAddresses</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose an address to update:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Address_Change</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>v_accountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_billingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_billingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_billingPostCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_billingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_billingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_idOther</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_shippingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_shippingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_shippingPostCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_shippingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_shippingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_userFullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
