force-app/main/default/flows/Loyalty_External_Services.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This will invoke apex external services to get the loyalty details based on loyalty id</description>
        <name>Fetch_Loyalty_Details</name>
        <label>Fetch Loyalty Details</label>
        <locationX>427</locationX>
        <locationY>52</locationY>
        <actionName>LoyaltyExternalService.getLoyalty</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Loyalty_JSON</targetReference>
        </connector>
        <inputParameters>
            <name>id_card__c</name>
            <value>
                <elementReference>Loyalty_Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LoyaltyExternalService.getLoyalty</nameSegment>
        <outputParameters>
            <assignToReference>LoyaltyResults</assignToReference>
            <name>200</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>627</locationX>
        <locationY>239</locationY>
        <actionName>SetLoyaltyDetails</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>payload</name>
            <value>
                <elementReference>Loyalty_JSON_Output</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SetLoyaltyDetails</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Loyalty External Services {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loyalty External Services</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Loyalty_Id_from_Contact_Object</name>
        <label>Get Loyalty Id from Contact Object</label>
        <locationX>170</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Loyalty_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>LoyaltyId</assignToReference>
            <field>Loyalty_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <description>This will fetch the loyalty details from external services in heroku</description>
        <name>Get_Loyalty_Details</name>
        <label>Get Loyalty Details</label>
        <locationX>301</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fetch_Loyalty_Details</targetReference>
        </connector>
        <fields>
            <name>Loyalty_Id</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LoyaltyId</elementReference>
            </defaultValue>
            <fieldText>Loyalty Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This screen will show the result of external services output</description>
        <name>Loyalty_JSON</name>
        <label>Loyalty JSON</label>
        <locationX>627</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <fields>
            <name>Loyalty_JSON_Output</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LoyaltyResults</elementReference>
            </defaultValue>
            <fieldText>Loyalty JSON Output</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>22</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Get_Loyalty_Id_from_Contact_Object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LoyaltyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoyaltyResults</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
