force-app/main/default/flows/Upload_Driver_Licenses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Read_DL_from_Form</name>
        <label>Read DL from Form</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>FormReaderDriver</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DL_Record_Name</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__newObj</typeName>
            <typeValue>Driver_License__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>Driver_License__c</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>formType</name>
            <value>
                <stringValue>dl</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newObj</name>
            <value>
                <elementReference>newDL</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <stringValue>Driver Licenses</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contentDocumentId</name>
            <value>
                <elementReference>ContentVersion.ContentDocumentId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FormReaderDriver</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>DL_Record_Name</name>
        <label>DL Record Name</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Read_DL_from_Form.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DLRecordName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Read_DL_from_Form.ContentDocumentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContentVersion.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>returnName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DLRecordName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_DL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_New_DriverLicense</name>
        <label>Initialize New Driver License</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>newDL.name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newDL.first_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newDL.last_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Read_DL_from_Form</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>DLRecordName</name>
        <dataType>String</dataType>
        <expression> IF( !ISBLANK({!Read_DL_from_Form.name__c}), 
    {!Read_DL_from_Form.name__c},
    IF (!ISBLANK({!Read_DL_from_Form.last_name__c}) &amp;&amp; !ISBLANK({!Read_DL_from_Form.first_name__c}),
        {!Read_DL_from_Form.last_name__c} + &apos;, &apos; + {!Read_DL_from_Form.first_name__c},
        &apos;Name unknown&apos;))</expression>
    </formulas>
    <interviewLabel>Upload Driver Licenses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Upload Driver Licenses</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Save_DL</name>
        <label>Save DL</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <inputReference>Read_DL_from_Form</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initialize_New_DriverLicense</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentVersion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>newDL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Driver_License__c</objectType>
    </variables>
    <variables>
        <name>returnName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
