force-app/main/default/flows/Upload_Documents.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Save_ContentDocumentId</name>
        <label>Save ContentDocumentId</label>
        <locationX>402</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_first_DocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_first_DocumentId</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DriverLicenseChoice</name>
        <choiceText>Driver License</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Driver License</stringValue>
        </value>
    </choices>
    <choices>
        <name>PassportChoice</name>
        <choiceText>Passport</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Passport</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Type_of_Uploaded_Document</name>
        <label>Type of Uploaded Document</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Sorry_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Passport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PassportChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_Passports</targetReference>
            </connector>
            <label>Passport</label>
        </rules>
        <rules>
            <name>Driver_License</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DriverLicenseChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_Driver_Licenses</targetReference>
            </connector>
            <label>Driver License</label>
        </rules>
    </decisions>
    <interviewLabel>Upload Documents {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Upload Documents</label>
    <loops>
        <name>Find_first_DocumentId</name>
        <label>Find first DocumentId</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <collectionReference>ContentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Save_ContentDocumentId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_ContentVersion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_ContentVersion</name>
        <label>Get ContentVersion</label>
        <locationX>314</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_of_Uploaded_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Sorry_Screen</name>
        <label>Sorry Screen</label>
        <locationX>578</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SorryText</name>
            <fieldText>&lt;p&gt;Sorry, the type of document you selected is not supported.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Passport</name>
        <label>Upload Passport</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_first_DocumentId</targetReference>
        </connector>
        <fields>
            <name>EinsteinWithFlagImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>einstein_header_image</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>WelcomeDisplayText</name>
            <fieldText>&lt;p&gt;Please use the File Uploader below to &lt;b&gt;Upload&lt;/b&gt; a photo of your passport, then click &lt;b&gt;Next&lt;/b&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DocumentType</name>
            <choiceReferences>PassportChoice</choiceReferences>
            <choiceReferences>DriverLicenseChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose type of document to be uploaded</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PassportImage</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Passport</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg, .jpeg, .png, .pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$User.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContentDocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Wrap_Up</name>
        <label>Wrap Up</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>WrapUpImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>EinsteinWithFlag</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>240px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>175px</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>WrapupDisplayText</name>
            <fieldText>&lt;p&gt;Nice work! You just uploaded a new &lt;b style=&quot;color: rgb(50, 62, 224); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;{!DocumentType}&lt;/i&gt;&lt;/b&gt; image for &lt;b style=&quot;color: rgb(50, 62, 224);&quot;&gt;&lt;i&gt;{!returnName}&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Contemplate all the time Einstein saved you as you click &lt;b&gt;Finish!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Upload_Passport</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Upload_Driver_Licenses</name>
        <label>Upload Driver Licenses</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Wrap_Up</targetReference>
        </connector>
        <flowName>Upload_Driver_Licenses</flowName>
        <inputAssignments>
            <name>ContentVersion</name>
            <value>
                <elementReference>Get_ContentVersion</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>returnName</assignToReference>
            <name>returnName</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Upload_Passports</name>
        <label>Upload Passports</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Wrap_Up</targetReference>
        </connector>
        <flowName>Upload_Passport</flowName>
        <inputAssignments>
            <name>ContentVersion</name>
            <value>
                <elementReference>Get_ContentVersion</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>returnName</assignToReference>
            <name>returnName</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ContentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Find_first_DocumentId</elementReference>
        </value>
    </variables>
    <variables>
        <name>ContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
