force-app/main/default/flows/Upload_Passport.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Read_from_Form</name>
        <label>Read from Form</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>FormReaderDriver</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Passport_Record_Name</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__newObj</typeName>
            <typeValue>Passport__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>Passport__c</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>formType</name>
            <value>
                <stringValue>passport</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newObj</name>
            <value>
                <elementReference>newPassport</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <stringValue>Passports</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contentDocumentId</name>
            <value>
                <elementReference>ContentVersion.ContentDocumentId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FormReaderDriver</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Initialize_New_Passport</name>
        <label>Initialize New Passport</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>newPassport.Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newPassport.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newPassport.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Read_from_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Passport_Record_Name</name>
        <label>Passport Record Name</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Read_from_Form.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PassportRecordName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Read_from_Form.ContentDocumentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContentVersion.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>returnName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PassportRecordName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Passport</targetReference>
        </connector>
    </assignments>
    <description>Moved to subflow</description>
    <formulas>
        <name>PassportRecordName</name>
        <dataType>String</dataType>
        <expression> IF( !ISBLANK({!Read_from_Form.Name__c}), 
    {!Read_from_Form.Name__c},
    IF (!ISBLANK({!Read_from_Form.Last_Name__c}) &amp;&amp; !ISBLANK({!Read_from_Form.First_Name__c}),
        {!Read_from_Form.Last_Name__c} + &apos;, &apos; + {!Read_from_Form.First_Name__c},
        &apos;Name unknown&apos;))</expression>
    </formulas>
    <interviewLabel>Upload Passport {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Upload Passports</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Save_Passport</name>
        <label>Save Passport</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <inputReference>Read_from_Form</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initialize_New_Passport</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentVersion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>newPassport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Passport__c</objectType>
    </variables>
    <variables>
        <name>returnName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
